<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.user.CinemaMemberMapper">

    <resultMap id="CinemaMember" type="com.example.cinema.po.CinemaMember">
        <id column="id" property="id"></id>
        <result column="type" property="type"></result>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
    </resultMap>
    <select id="getAccountByName" resultMap="CinemaMember">
        select * from cinema_member as m where concat(m.username)
        like concat('%',#{username},'%');
    </select>


    <insert id="insertCinemaMember" parameterType="com.example.cinema.vo.CinemaMemberForm"
            useGeneratedKeys="true" keyProperty="id">
        insert into cinema_member(type,username,password)
        values(#{type},#{username},#{password})
    </insert>

    <select id="selectAllMember" resultMap="CinemaMember">
        select * from cinema_member
    </select>

    <delete id="deleteMember">
        delete from cinema_member where id=#{userId}
    </delete>

    <select id="selectMemberById">
        select from cinema_member where id=#{userId}
    </select>

    <update id="updateMember" parameterType="com.example.cinema.vo.CinemaMemberForm">
        update cinema_member set username = #{username}, type = #{type}, password = #{password}
        where id = #{id}
    </update>

</mapper>