.staff-information {

}

.staff-information-id {
    font-size: 18px;
    color: #000;
}

.staff-information-username {
    font-size: 18px;
    color: #000;
}

.staff-information-password {
    font-size: 18px;
    color: #000;
}

