<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VIP优惠</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/adminSchedule.css"/>



    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation" ><a href="#"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation" class="active"><a href="/admin/VIP/discount"><i class="icon-bar-chart"></i> 会员卡优惠</a></li>
            <li role="presentation"><a href="/admin/ticket/return"><i class="icon-bar-chart"></i> 退票策略</a></li>
            <li role="presentation"><a href="/admin/staff/manage"><i class="icon-bar-chart"></i> 员工管理</a></li>
            <li role="presentation"><a href="/admin/Coupon/give"><i class="icon-bar-chart"></i> 优惠券赠送</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-header">
            <span class="title gray-text">会员卡充值赠送修改</span>
        </div>
        <div class="content">
        每次到达的金额:<br>
        <input type="text" name="target" value="100">
        <br>
        每次赠送的金额:<br>
        <input type="text" name="give" value="20">
        <br><br>
        <input type="button" value="确认修改">
        </div>
    </br>
    </div>

</div>
</body>
</html>