<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/staffInformation.css"/>



    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/adminStaffManage.js"></script>
</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation" ><a href="#"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation"><a href="/admin/VIP/discount"><i class="icon-bar-chart"></i> 会员卡优惠</a></li>
            <li role="presentation"><a href="/admin/ticket/return"><i class="icon-bar-chart"></i> 退票策略</a></li>
            <li role="presentation" class="active"><a href="/admin/staff/manage"><i class="icon-bar-chart"></i> 员工管理</a></li>
            <li role="presentation"><a href="/admin/Coupon/give"><i class="icon-bar-chart"></i> 优惠券赠送</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="filler-container card">
            <div class="input-group" style="width: 800px">
                <input type="text" class="form-control" id="search-input" placeholder="请输入用户名">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="search-btn" type="button">搜索</button>
                </span>
            </div>
        </div>
        <ul class="account-on-list">
        </ul>
    </div>
    <div class="content-container">
        <div class="card col-md-8 col-md-offset-2">
            <div class="header">
                <div class="title">
                    员工列表
                </div>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>员工id</th>
                        <th>员工昵称</th>
                        <th>员工密码</th>
                    </tr>
                    </thead>
                    <tbody class="user-in-table">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</body>
</html>