<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>退票策略</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/adminSchedule.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.staticfile.org/ionicons/2.0.1/css/ionicons.min.css">


    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/adminTicketReturn.js"></script>
</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">用户经理</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/member/VIP/discount"><i class="icon ion-bookmark"></i> 会员卡优惠</a></li>
            <li role="presentation" class="=active"><a href="/member/ticket/return"><i class="icon ion-eye-disabled"></i> 退票策略</a></li>
            <li role="presentation"><a href="/member/Coupon/give"><i class="icon ion-ios-rose"></i> 优惠券赠送</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-header">
            <span class="title gray-text">退票策略修改</span>
        </div>
        <div class="content">
            全额退款的时间限制:<br>
            <input type="text" id="fulltime" value="480">
            <br>
            折扣退款的时间限制:<br>
            <input type="text" id="parttime" value="50">
            <br>
            折扣退款的折扣:<br>
            <input type="text" id="discount" value="0.08">
            <br>
            无法退款的时间限制:<br>
            <input type="text" id="outtime" value="20">
            <br><br>
            <input type="button" value="确认修改" onclick='change()'>
        </div>
        </br>
    </div>
</div>
</body>
</html>