<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购票</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userBuy.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userBuy.js"></script>

</head>
<body>
<div class="nav-top-container">
    <div class="nav-logo title">NJU-Se电影购票系统</div>
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/user/home">首页</a></li>
        <li role="presentation"><a href="/user/movie">电影</a></li>
    </ul>
    <div class="btn-group">
        <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <img class="avatar-sm" src="/images/defaultAvatar.jpg"/>
            <span class="gray-text" style="vertical-align: middle">用户A&nbsp;<span class="caret"></span></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">电影票</a></li>
            <li><a href="/user/member">卡包</a></li>
            <li><a href="/user/consume">历史消费记录</a></li>
            <li><a href="/user/recharge">历史充值记录</a></li>
            <li id="logout"><a href="#">登出</a></li>
        </ul>
    </div>
</div>
<div class="content-container">
    <div class="card col-md-8 col-md-offset-2">
        <div class="header">
            <div class="title">
                我的电影票
            </div>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>电影名称</th>
                    <th>影厅名</th>
                    <th>座位</th>
                    <th>放映时间</th>
                    <th>预计结束时间</th>
                    <th>状态</th>
                    <th>功能</th>
                </tr>
                </thead>
                <tbody class="ticket-in-table">
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">付款</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" style="margin-bottom: 20px;">
                    <li role="presentation" class="active" id="member-pay" onclick="switchPay(0)"><a href="#">会员卡支付</a></li>
                    <li role="presentation" id="nonmember-pay" onclick="switchPay(1)"><a href="#">银行卡支付</a></li>
                </ul>

                <div id="modal-body-member" style="margin-bottom: 20px;">
                    <div id="member-balance"><b>会员卡余额：</b>&nbsp;&nbsp;90元</div>
                </div>

                <div id="modal-body-nonmember" style="display: none;">
                    <div class="form-group">
                        <label for="userBuy-cardNum">银行卡号</label>
                        <input class="form-control" id="userBuy-cardNum" placeholder="请输入银行卡号">
                        <p id="userBuy-cardNum-error" class="notice">银行卡号不能为空</p>
                    </div>
                    <div class="form-group">
                        <label for="userBuy-cardPwd">密码</label>
                        <input type="password" class="form-control" id="userBuy-cardPwd" placeholder="请输入密码">
                        <p id="userBuy-cardPwd-error" class="notice">密码不能为空</p>
                    </div>
                </div>
                <div class="order-info">
                    <div>
                        优惠券：
                        <select style="height: 30px;" id="order-coupons"
                                onchange="changeCoupon(this.options.selectedIndex)">
                        </select>
                    </div>

                    <div>
                        <div class="item" id="order-footer-total"></div>
                        <div class="item" id="order-discount"></div>
                    </div>
                </div>
                <div id="pay-amount"><b>金额：</b>&nbsp;&nbsp;90元</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="payConfirmClick()">确认支付</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mark" tabindex="-1" role="dialog" aria-labelledby="markModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="markModal">评分与评论</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" ><span class="error-text">*</span>评分</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="mark-input" placeholder="请打分(只能为1 2 3 4 5)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" >评价内容</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="mark-comment-input" placeholder="请输入评价内容">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="mark-click">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>